*{
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #222;
  color: white;
}

.card{
  width: 450px;
  max-width: 90%;
  text-align: center;
  margin: 30px auto;
  padding: 30px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  border-radius: 10px;
}
.search-bar{
  margin-left: 50px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.search-bar input{
  border-radius: 20px;
  width: 200px;
  border: none;
  padding: 0 20px;
  margin: 0 20px;
  outline: none;
}
.search-bar img{
  width: 30px;
  margin: 0 10px;
  padding: 0 5px;
}
.search-bar button{
  border-radius: 30px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
.details h1{
  font-size: 40px;
}
h2{
  font-size: 40px;
  font-weight: 100;
}
.details2{
  width: 200px;
  height: 100px;
  position: relative;
  top: 50px;
  right: 10px;
  display: flex;
  margin-left: 25px;
}
.details2 img{
  margin-top: 20px;
  width: 50px;
  height: 40px;
}
h3{
  padding-left: 15px;
  padding-top: 20px;
  font-size: 25px;
}

.detail3{
  position: relative;
  left: 10px;
}
.details2 p, .detail3 p{
  position: relative;
  top: 50px;
  right: 75px;
}
.detail3 p{
  position: relative;
  right: 95px;
}

.detail3{
  width: 300px;
  height: 100px;
  margin:0 200px;
  display: flex;
  position: relative;
  bottom: 50px;
}
.detail3 img{
  margin-top: 20px;
  width: 50px;
  height: 40px;
}
h4{
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 30px;
}

.details{
  display: none;
}

.error p{
  position: relative;
  right:90px;
  top: 10px;
  font-size: 10px;
  display: none;
}
